.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.Footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;

}
.Footer-icons img{
    width: 30px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}
.CopyRight-Text{
    color: gray;
    font-size: 15px;
}